{{sidebar_enabled=False}}
{{response.files.append(URL('static','css/vote.css'))}}
{{response.files.append(URL('static','js/vote.js'))}}
{{extend 'layout.html'}}

<div style="padding: 0 0 0 120px; position: relative">
    <a href=" {{=news_vars['link']}} " style="color:green; font-family:verdana; font-size:130%">
    <img alt="" border="1" height="100" width="100" src=" {{=news_vars['image']}} " style="left: 0; position: absolute; top: 0">
         {{=news_vars['news_title']}}
    </a>
</div>
<br><br><br><br><br><br>
    
{{
    out = '<form action="' + URL('default','blog',vars= dict(news_vars)) + '" method="post">What do you think?<br>' + \
         '<textarea name="blog" maxlength=140 style="width: 600px; height: 50px;"></textarea><br><input type="submit" value="Post"></form><br>'
   for row in row_list:
       out += ('<div class="post"><h4 class="title">' + row['auth_user']['first_name'] + ' ' + row['auth_user']['last_name'] + '</h4><div class="entry"><p style="font-size:20px">')
       out += row['posts']['body']
       out += '</p></div><div class="meta"><p class="links">'
out += '&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/" class="view_comments" onclick="$( \'.comments_' + str(row['posts']['id'])+ '\' ).toggle();">View Comments</a></p></div></div>'
       
       out += '<div class="comments_' + str(row['posts']['id'])+ '\" style="display: none">'
       out += str(LOAD('default','comments.load',ajax_trap=True,vars={'post_id':row['posts']['id']}))
       out += '</div>'
   pass
}}
{{=XML(out)}}
